.text-review{
    font-size: 12px;
    font-weight: 'bold';
    font-style: italic;
}
.back{
    font-size: 15px;
    font-weight: 'bold';
    color:black;
}
.text-product{
    font-size: 12px;
    font-weight: 'bold';
    color:black;
}
.but-product{
    font-size: 12px;
    font-weight: 'bold';

}