.meu{display: block;text-align: center;}
.meu1{display: inline-block;margin-right: 60px;}
.meu2{display: block;}
.meu3{font-size: 15px;padding: 8px 0px 2px 0px;}
.shopnav{background-color: white;}
.navlogo{height: 70px;width: 70px;}